<h1 class="titulo">Detalles del restaurante</h1>

<div class="form-plato">
<%= image_tag "restaurante-placeholder.jpg", alt: "restaurante", class: "card-img" %>
<br><br>
  <p>
    <strong>Restaurante:</strong>
    <%= @restaurante.titulo %>
  </p>
  <p>
    <strong>Dirección:</strong>
    <%= @restaurante.direccion %>
  </p>
  <p >
    <strong>Platos:</strong>
    <% @restaurante.platos.each do | plato |%>
      <li><%= link_to plato.titulo, plato_path(plato)%></li>
    <% end %>
  </p>
</div>
