<h1 class="titulo">Detalles del plato</h1>

<div class="form-plato">
  <p>
    <strong>Plato:</strong>
    <%= @plato.titulo %>
  </p>
  
  <p>
    <strong>Descripcion:</strong>
    <%= @plato.descripcion %>
  </p>
  <p>
    <strong>Precio:</strong>
    <%= @plato.precio %>€
  </p>
</div>